body{
  font-family:latha , Arial;
  color : white;
  background:linear-gradient(
      rgba(0,0,0,0.65),rgba(0,0,0,0.65),rgba(0,0,0,0.38),rgba(0,0,0,0)
  )
  , url("/image.jpg")no-repeat;
  background-size : cover;
}

.box{ width : 900px;
    float :right;
    border:1px solid none;
  }

.box ul li{
  width    :120px;
  float    :left;
  margin   : 10px auto;
  text-align: center;
}

.box ul li a{
  text-decoration: none;
  color : darkgrey;
}

.box ul li:hover{
  background-color: green;
  border-radius: 2px;
}

.box ul li a:hover{
  color: white;
}

.wd{
  width : 300px;
  height : 539px;
  background-color: black;
  opacity: 0.9;
  padding: 55px;
}

.wd h1,h2{
  text-align: center;
  text-transform: uppercase;
}

.wd h1{
  font-weight: 100px;
}

.wd h4{
  text-align: justify;
  color : darkgrey;
  font-weight: normal;
}

.wd h2{
  font-weight: normal;
  margin: 40px auto;    
}

.opt form , input[type = "button"]{
  background-color: black;
  color: white;
  padding: 10px;
  margin: -14px auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;

}

form , input[type = "button"]:hover{
  background-color: green;
  border-radius: 4px;
}